.idea/*
target/*
.settings/*
Monitor.iml
/target/

*.class
out/*
.svn
*.svn
*.svn/*

Monitor-web/pom.xml
Monitor-web/src/main/resources/jdbc.properties
Monitor-web/src/main/resources/setting.properties
.gitignore.bak
Monitor-framework/target/*
Monitor-web/target/*
.gitignore.bak
pom.xml
Monitor-web/pom.xml
pom.xml
pom.xml
Monitor-web/pom.xml
Monitor-framework/pom.xml
Monitor-framework/bin/target/classes/META-INF/MANIFEST.MF
Monitor-framework/bin/target/classes/META-INF/maven/com.monitor/Monitor-framework/pom.properties
*.component
Monitor-web/bin/src/main/resources/jdbc.properties
Monitor-web/.settings/org.eclipse.wst.common.component
Monitor-web/.settings/org.eclipse.wst.common.component
Monitor-web/.settings/org.eclipse.wst.common.component
