	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h3>
			事件监控<small></small>
		</h3>
		<ol class="breadcrumb">
        <li><a href="javascript:void(0);" onclick="loadPage('${basePath}/a5/overview?timerange=today')"><i class="fa fa-money"></i>dashboard</a></li>
        <li class="active"><a href="javascript:void(0);" onclick="loadPage('${basePath}/a5/list')"><font style=" font-weight:bold">事件监控</font></a></li>
        <li class="active"><a href="javascript:void(0);" onclick="loadPage('${basePath}/poc/messageSearch')">日志查询</a></li>
      </ol>
      
	</section> 

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- /.box-header -->
				<div class="dataTables_filter" id="searchDiv">
						<input placeholder="模块" name="module" id="module" value="${(module)!}" type="search" class="form-control" size="10" likeOption="false" /> 
						<input placeholder="活动id" name="moduleEntryId" id="moduleEntryId" value="${(moduleEntryId)!}" class="form-control" type="search" size="5" likeOption="false" /> 
						<input placeholder="活动标题" name="moduleEntryTitle" id="moduleEntryTitle" value="${(moduleEntryTitle)!}" class="form-control" type="search" size="10" likeOption="false" /> 
						<input placeholder="操作" name="operator" id="operator" value="${(operator)!}" class="form-control" type="search" size="10" likeOption="false" /> 
						<input placeholder="开始时间" name="operatorTime" value="${(starttime)!}" id="starttime" class="form-control" size="20" type="search" /> 
						<input placeholder="截止时间" name="operatorTime" value="${(endtime)!}" id="endtime" class="form-control" size="20" type="search"  /> 
						<input placeholder="昵称" name="nickname" id="nickname" value="${(nickname)!}" class="form-control" type="search" size="10" likeOption="false" /> 
						<input placeholder="性别" name="sex" id="sex" value="${(sex)!}" class="form-control" type="search" size="5" likeOption="false" /> 
						<div class="btn-group">
							<button type="button" class="btn btn-primary" 	data-btn-type="search">查询</button>
							<button type="button" class="btn btn-default" onclick="openSaveQuery()">保存</button>
						</div>
					</div>
				<div class="box-body">
					<div id="barChart"
						style="height: 400px; float: left; display: inline"
						class="col-lg-6 col-xs-12"></div>
					<div id="barChart1"
						style=" height: 400px; float: left; display: inline"
						class="col-lg-6 col-xs-12"></div>
				</div>	
				<div class="box-body">
					<table id="entry_table"
						class="table table-bordered table-striped table-hover">
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<!-- /.col -->
	<!-- /.row -->
</section>

<script>
	//tableId,queryId,conditionContainer
	var page;
	var entryTable;
	var winId = "entryWin";
	$(function() {
		var base64 = new Base64();
		//init table and fill data
		entryTable = new CommonTable(
				"entry_table",
				"a5log_list",
				"searchDiv",
				{
					"fillDataCallBack" : function(sSource, data,parm) {
						var pageInfo = {"pageSize":-1,"pageNum":1};
						parm.pageInfo = pageInfo;
						 console.log(JSON.stringify(parm));
						$.ajax({
							url : basePath + "/query/loadData",// 这个就是请求地址对应sAjaxSource
							data : {
								"reqObj" : JSON.stringify(parm)
							},// 这个是把datatable的一些基本数据传给后台,比如起始位置,每页显示的行数
							type : 'post',
							dataType : 'json',
							async : false,
							success : function(result) {
								data = result;
								this.activtyArray = new Array();
								this.activtyNameArray = new Array();
								this.activtyArraySelected = new Array();
								this.userName = new Array();
								this.userValue = new Array();
								this.userArray = new Array();
								this.activiy = new Object();
								this.user = new Object();
								for ( var s in data.rows) {
									if (data.rows[s].moduleEntryId != null
											&& data.rows[s].moduleEntryId != "") {
										if (this.activiy[data.rows[s].moduleEntryId] == null) {
											this.activiy[data.rows[s].moduleEntryId] = new Object();
											this.activiy[data.rows[s].moduleEntryId]["value"] = 0;
											this.activiy[data.rows[s].moduleEntryId]["name"] = data.rows[s].moduleEntryTitle;
										}
										this.activiy[data.rows[s].moduleEntryId]["value"]++;
									}
									var nickName = new String();
									 nickName = nickName+data.rows[s].nickname;
									var nickNameBase64 = base64.encode(nickName);
									if (this.user[nickNameBase64] == null) {
										this.user[nickNameBase64] = new Object();
										this.user[nickNameBase64]["value"] = 0;
									}
									this.user[nickNameBase64]["value"]++;
								}
								var i = 0;
								for ( var name in this.activiy) {
									i++;
									var a = new Object();
									a["name"] = this.activiy[name].name;
									a["value"] = this.activiy[name].value;
									this.activtyNameArray.push(this.activiy[name].name);
									var isSelected = i<6;
									this.activtyArraySelected.push(isSelected);
									this.activtyArray.push(a);
									
								}
								for ( var name in this.user) {
									var u  = {};
									u["name"] = base64.decode(name);
									u["value"] = this.user[name].value;
									this.userArray.push(u);
								}
								this.userArray.sort(function (a,b){
									if(a.value<b.value){
										return 1;
									}else if(a.value>b.value){
										return -1;
									}else {
										return 0;
									}
								});
								 this.userArray = this.userArray.slice(0,10);
								for(var key in this.userArray){
									this.userName.push(this.userArray[key].name);
									this.userValue.push(this.userArray[key].value);
								}
								var myChart = echarts.init(document
										.getElementById('barChart'));

								option = {
								    title : {
								        text: '活动热度统计图',
								        subtext: '占比图',
								        x:'center'
								    },
								    tooltip : {
								        trigger: 'item',
								        formatter: "{a} <br/>{b} : {c} ({d}%)"
								    },
								    legend: {
								        type: 'scroll',
								        orient: 'vertical',
								        right: 10,
								        top: 20,
								        bottom: 20,
								        data: this.activtyNameArray,

								        selected: data.selected
								    },
								    series : [
								        {
								            name: '活动名称',
								            type: 'pie',
								            radius : '55%',
								            center: ['40%', '50%'],
								            data: this.activtyArray,
								            itemStyle: {
								                emphasis: {
								                    shadowBlur: 10,
								                    shadowOffsetX: 0,
								                    shadowColor: 'rgba(0, 0, 0, 0.5)'
								                }
								            }
								        }
								    ]
								};

								myChart.setOption(option);
								
								var seriesLabel = {
									    normal: {
									        show: true,
									        textBorderColor: '#FFFFF',
									        textBorderWidth: 1
									    }
									}
								
								 myChart = echarts.init(document
										.getElementById('barChart1'));
								
								option1 = {
										title : {
									        text: '人员访问量排名图',
									        subtext: '排名',
									        x:'center'
									    },
								    tooltip: {
								        trigger: 'axis',
								        axisPointer: {
								            type: 'shadow'
								        }
								    },
								    grid: {
								        left: 100
								    },
								    toolbox: {
								        show: true,
								        feature: {
								            saveAsImage: {}
								        }
								    },
								    xAxis: {
								        type: 'value',
								        name: '访问量',
								        axisLabel: {
								            formatter: '{value}'
								        }
								    },
								    yAxis: {
								        type: 'category',
								        inverse: true,
								        data: this.userName
								    },
								    series: [
								        {
								            name: '访问量',
								            type: 'bar',
								            data: this.userValue,
								            label: seriesLabel
								        }
								    ]
								};
								myChart.setOption(option1);
								
							},
							error : function(msg) {
								alert("状态码:" + msg.status + "   错误信息:" + msg.statusText);
							}
						});
						
					}

				});

		//form_init();


function openSaveQuery(){
			 var url = "${basePath}/a5/list?module="+$("#module").val()+"&moduleEntryId="+$("#moduleEntryId").val()+"&moduleEntryTitle="+$("#moduleEntryTitle").val()
       			  +"&operator="+$("#operator").val()+"&starttime="+$("#starttime").val().replace(' ',"T")+"&endtime="+$("#endtime").val().replace(' ',"T")+"&nickname="+$("#nickname").val()+"&sex="+$("#sex").val();
	          modals.openWin({
                 	winId:"entryWin",
                 	title:'新增SavedQuery配置',
                 	width:'900px',
                 	url:basePath+"/savedQuery/edit?url="+encodeURIComponent(url)
                 });
		  }
	})
</script>
