	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h3>
			事件监控<small></small>
		</h3>
		<ol class="breadcrumb">
        <li><a href="javascript:void(0);" onclick="loadPage('${basePath}/a5/overview?timerange=today')"><i class="fa fa-money"></i>dashboard</a></li>
        <li class="active"><a href="javascript:void(0);" onclick="loadPage('${basePath}/a5/list')"><font style=" font-weight:bold">事件监控</font></a></li>
        <li class="active"><a href="javascript:void(0);" onclick="loadPage('${basePath}/poc/messageSearch')">日志查询</a></li>
      </ol>
      
	</section> 

	<!-- Main content -->
	<section class="content">
	<h1>
		操作日志 <small>列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
		<li><a href="#">操作日志</a></li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- /.box-header -->
				<div class="dataTables_filter" id="searchDiv">
					<input placeholder="模块" name="module" type="search"
						class="form-control" size="5" likeOption="false" /> <input
						placeholder="活动id" name="moduleEntryId" class="form-control"
						type="search" size="5" likeOption="false" /> <input
						placeholder="活动标题" name="moduleEntryTitle" class="form-control"
						type="search" size="10" likeOption="true" /> <input
						placeholder="操作" name="operator" class="form-control"
						type="search" size="5" likeOption="false" /> <input
						placeholder="开始时间" name="operatorTime" class="form-control"
						size="18" type="search" /> <input placeholder="截止时间"
						name="operatorTime" class="form-control" size="18" type="search" />
					<input placeholder="昵称" name="nickname" class="form-control"
						type="search" size="5" likeOption="false" />
					<div class="btn-group">
						<button type="button" class="btn btn-primary"
							data-btn-type="search">查询</button>
						<button type="button" class="btn btn-default" onclick="openSaveQuery()">保存</button></div>
				</div>
				<div class="box-body">
					<div id="barChart"
						style="width: 48%; height: 400px; float: left; display: inline"
						class="box-body"></div>
					<div id="barChart1"
						style="width: 48%; height: 400px; float: left; display: inline"
						class="box-body"></div>
				</div>
				<div class="box-body">
					<div id="barChart2"
						style="width: 48%; height: 400px; float: left; display: inline"
						class="box-body"></div>
						<div id="barChart3"
						style="width: 48%; height: 400px; float: left; display: inline"
						class="box-body"></div>
				</div>
				<div class="box-body">
					<table id="entry_table"
						class="table table-bordered table-striped table-hover">
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<!-- /.col -->
	<!-- /.row -->
</section>

<script>
	//tableId,queryId,conditionContainer
	var page;
	var entryTable;
	var winId = "entryWin";
	$(function() {

		var base64 = new Base64();
		//init table and fill data
		entryTable = new CommonTable(
				"entry_table",
				"a5log_list",
				"searchDiv",
				{
					"fillDataCallBack" : function(sSource, data) {
						this.moduleArray = new Array();
						this.activtyArray = new Array();
						this.userArray = new Array();
						this.operatorArray = new Array();
						this.dat = new Object();
						this.activiy = new Object();
						this.user = new Object();
						this.operator = new Object();
						 console.log(JSON.stringify(data));
						
						for ( var s in data.rows) {
							if (this.dat[data.rows[s].module] == null) {
								this.dat[data.rows[s].module] = new Object();
								this.dat[data.rows[s].module]["value"] = 0;
							}
							this.dat[data.rows[s].module]["value"]++;
							if (data.rows[s].moduleEntryId != null
									&& data.rows[s].moduleEntryId != "") {
								if (this.activiy[data.rows[s].moduleEntryId] == null) {
									this.activiy[data.rows[s].moduleEntryId] = new Object();
									this.activiy[data.rows[s].moduleEntryId]["value"] = 0;
									this.activiy[data.rows[s].moduleEntryId]["name"] = data.rows[s].moduleEntryTitle;
								}
								this.activiy[data.rows[s].moduleEntryId]["value"]++;
							}
							var nickName = new String();
							 nickName = nickName+data.rows[s].nickname;
							var nickNameBase64 = base64.encode(nickName);
							console.log(nickNameBase64);
							if (this.user[nickNameBase64] == null) {
								this.user[nickNameBase64] = new Object();
								this.user[nickNameBase64]["value"] = 0;
							}
							this.user[nickNameBase64]["value"]++;

							if (this.operator[data.rows[s].operator] == null) {
								this.operator[data.rows[s].operator] = new Object();
								this.operator[data.rows[s].operator]["value"] = 0;
							}
							this.operator[data.rows[s].operator]["value"]++;
						}
						for ( var name in this.dat) {
							var m = new Object();
							m["name"] = name;
							m["value"] = this.dat[name].value;
							this.moduleArray.push(m);
						}
						for ( var name in this.activiy) {
							var a = new Object();
							a["name"] = this.activiy[name].name;
							a["value"] = this.activiy[name].value;
							this.activtyArray.push(a);
						}
						for ( var name in this.user) {
							var u = new Object();
							console.log(name);
							u["name"] = base64.decode(name);
							u["value"] = this.user[name].value;
							this.userArray.push(u);
						}

						for ( var name in this.operator) {
							var o = new Object();
							o["name"] = name;
							o["value"] = this.operator[name].value;
							this.operatorArray.push(o);
						}

					
						var myChart = echarts.init(document
								.getElementById('barChart'));
						var option = {
							backgroundColor : '#2c343c',

							title : {
								text : '模块热度图',
								left : 'center',
								top : 20,
								textStyle : {
									color : '#ccc'
								}
							},

							tooltip : {
								trigger : 'item',
								formatter : "{a} <br/>{b} : {c} ({d}%)"
							},

							visualMap : {
								show : false,
								min : 80,
								max : 600,
								inRange : {
									colorLightness : [ 0, 1 ]
								}
							},
							series : [ {
								name : '占比图',
								type : 'pie',
								radius : '55%',
								center : [ '50%', '50%' ],
								data : this.moduleArray.sort(function(a, b) {
									return a.value - b.value;
								}),
								roseType : 'radius',
								label : {
									normal : {
										textStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										}
									}
								},
								labelLine : {
									normal : {
										lineStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										},
										smooth : 0.2,
										length : 10,
										length2 : 20
									}
								},
								itemStyle : {
									normal : {
										color : '#c23531',
										shadowBlur : 200,
										shadowColor : 'rgba(0, 0, 0, 0.5)'
									}
								},

								animationType : 'scale',
								animationEasing : 'elasticOut',
								animationDelay : function(idx) {
									return Math.random() * 200;
								}
							} ]
						}
						myChart.setOption(option);

						var myChart = echarts.init(document
								.getElementById('barChart1'));
						var option1 = {
							backgroundColor : '#2c343c',

							title : {
								text : '活动热度图',
								left : 'center',
								top : 20,
								textStyle : {
									color : '#ccc'
								}
							},

							tooltip : {
								trigger : 'item',
								formatter : "{a} <br/>{b} : {c} ({d}%)"
							},

							visualMap : {
								show : false,
								min : 80,
								max : 600,
								inRange : {
									colorLightness : [ 0, 1 ]
								}
							},
							series : [ {
								name : '占比图',
								type : 'pie',
								radius : '55%',
								center : [ '50%', '50%' ],
								data : this.activtyArray.sort(function(a, b) {
									return a.value - b.value;
								}),
								roseType : 'radius',
								label : {
									normal : {
										textStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										}
									}
								},
								labelLine : {
									normal : {
										lineStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										},
										smooth : 0.2,
										length : 10,
										length2 : 20
									}
								},
								itemStyle : {
									normal : {
										color : '#c23531',
										shadowBlur : 200,
										shadowColor : 'rgba(0, 0, 0, 0.5)'
									}
								},

								animationType : 'scale',
								animationEasing : 'elasticOut',
								animationDelay : function(idx) {
									return Math.random() * 200;
								}
							} ]
						}
						myChart.setOption(option1);

						var myChart = echarts.init(document
								.getElementById('barChart2'));
						var option2 = {
							backgroundColor : '#2c343c',

							title : {
								text : '操作热度图',
								left : 'center',
								top : 20,
								textStyle : {
									color : '#ccc'
								}
							},

							tooltip : {
								trigger : 'item',
								formatter : "{a} <br/>{b} : {c} ({d}%)"
							},

							visualMap : {
								show : false,
								min : 80,
								max : 600,
								inRange : {
									colorLightness : [ 0, 1 ]
								}
							},
							series : [ {
								name : '占比图',
								type : 'pie',
								radius : '55%',
								center : [ '50%', '50%' ],
								data : this.operatorArray.sort(function(a, b) {
									return a.value - b.value;
								}),
								roseType : 'radius',
								label : {
									normal : {
										textStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										}
									}
								},
								labelLine : {
									normal : {
										lineStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										},
										smooth : 0.2,
										length : 10,
										length2 : 20
									}
								},
								itemStyle : {
									normal : {
										color : '#c23531',
										shadowBlur : 200,
										shadowColor : 'rgba(0, 0, 0, 0.5)'
									}
								},

								animationType : 'scale',
								animationEasing : 'elasticOut',
								animationDelay : function(idx) {
									return Math.random() * 200;
								}
							} ]
						}
						myChart.setOption(option2);
						
						var myChart = echarts.init(document
								.getElementById('barChart3'));
						var option3 = {
							backgroundColor : '#2c343c',

							title : {
								text : '活跃用户图',
								left : 'center',
								top : 20,
								textStyle : {
									color : '#ccc'
								}
							},

							tooltip : {
								trigger : 'item',
								formatter : "{a} <br/>{b} : {c} ({d}%)"
							},

							visualMap : {
								show : false,
								min : 80,
								max : 600,
								inRange : {
									colorLightness : [ 0, 1 ]
								}
							},
							series : [ {
								name : '占比图',
								type : 'pie',
								radius : '55%',
								center : [ '50%', '50%' ],
								data : this.userArray.sort(function(a, b) {
									return a.value - b.value;
								}),
								roseType : 'radius',
								label : {
									normal : {
										textStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										}
									}
								},
								labelLine : {
									normal : {
										lineStyle : {
											color : 'rgba(255, 255, 255, 0.3)'
										},
										smooth : 0.2,
										length : 10,
										length2 : 20
									}
								},
								itemStyle : {
									normal : {
										color : '#c23531',
										shadowBlur : 200,
										shadowColor : 'rgba(0, 0, 0, 0.5)'
									}
								},

								animationType : 'scale',
								animationEasing : 'elasticOut',
								animationDelay : function(idx) {
									return Math.random() * 200;
								}
							} ]
						}
						myChart.setOption(option3);
					}
				});

		//form_init();


function openSaveQuery(){
			 var url = "${basePath}/a5/list?module="+$("#module").val()+"&moduleEntryId="+$("#moduleEntryId").val()+"&moduleEntryTitle="+$("#moduleEntryTitle").val()
       			  +"&operator="+$("#operator").val()+"&starttime="+$("#starttime").val().replace(' ',"T")+"&endtime="+$("#endtime").val().replace(' ',"T")+"&nickname="+$("#nickname").val()+"&sex="+$("#sex").val();
	          modals.openWin({
                 	winId:"entryWin",
                 	title:'新增SavedQuery配置',
                 	width:'900px',
                 	url:basePath+"/savedQuery/edit?url="+encodeURIComponent(url)
                 });
		  }
	})
</script>
