<section class="content-header">
       <ol class="breadcrumb">
        <li><a href="../starter.html"><i class="fa fa-money"></i> 主页</a></li>
        <li class="active">业务总览</li>
      </ol>
    </section>

      <!-- Main content -->
    <section class="content-header">
		<span class=" btn-default">请选择:</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当日</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
                <button type="button" class="btn btn-default">年</button>
        </div>
    </section>
    <section class="content">
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${totalprice!}元</h3>
              <input id="totalprice" type="hidden" value="${totalprice!}"/>
              <p>销售额</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${ordernum!}单</h3>
              <input id="ordernumber" type="hidden" value="${ordernum!}"/>
              <p>订单数量</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${kedanjia!}元</h3>
              <p>客单价</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            
          </div>
        </div>
        <!-- ./col -->
      </div>
      
          <div class="col-md-6">
          
        	<!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">销售额</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="lineChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <span class=" btn-default">请选择:</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当日</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
                <button type="button" class="btn btn-default">年</button>
        </div>
        </div>
        
        <div class="col-md-6">
          
        	<!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">订单数量</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="orderlineChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <span class=" btn-default">请选择:</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当日</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
                <button type="button" class="btn btn-default">年</button>
        </div>
        </div>
        
    <div class="col-md-6">
		 <div class="row">
		    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">大区销售排行</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 60px">排名</th>
                  <th>大区名称</th>
                  <th>销售额</th>
                  <th style="width: 40px">占比</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>${(orovinceOrder1.name)!}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: ${(orovinceOrder1.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">${(orovinceOrder1.percentage)!}%</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>${(orovinceOrder2.name)!}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-yellow" style="width: ${(orovinceOrder2.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">${(orovinceOrder2.percentage)!}%</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>${(orovinceOrder3.name)!}</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: ${(orovinceOrder3.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">${(orovinceOrder3.percentage)!}%</span></td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          
		    </div>
        </div>
        <div class="col-md-6">
		 <div class="row">
		    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">商品销量排行榜</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 60px">排名</th>
                  <th>产品名称</th>
                  <th>销量</th>
                  <th style="width: 40px">占比</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>${(productOrder1.name)!}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: ${(productOrder1.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">${(productOrder1.percentage)!}%</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>${(productOrder2.name)!}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-yellow" style="width: ${(productOrder2.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">${(productOrder2.percentage)!}%</span></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>${(productOrder3.name)!}</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-primary" style="width: ${(productOrder3.percentage)!}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">${(productOrder3.percentage)!}%</span></td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          
		    </div>
        </div>
    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->

  
  
<!-- page script -->
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
    
    var orderTotal = document.getElementById("totalprice").value
    var orderNumberTotal = document.getElementById("ordernumber").value

    var areaChartData = {
      labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
//         {
//           label               : 'Electronics',
//           fillColor           : 'rgba(210, 214, 222, 1)',
//           strokeColor         : 'rgba(210, 214, 222, 1)',
//           pointColor          : 'rgba(210, 214, 222, 1)',
//           pointStrokeColor    : '#c1c7d1',
//           pointHighlightFill  : '#fff',
//           pointHighlightStroke: 'rgba(220,220,220,1)',
//           data                : [65, 59, 80, 81, 56, 55, 40]
//         },
        {
          label               : 'Digital Goods',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [2800, 4800, 4000, 1900, 8600, 2700, 3566]
        }
      ]
    }
    
    var areOrderNumberChartData = {
        labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [
          {
           label               : 'Electronics',
           fillColor           : 'rgba(210, 214, 222, 1)',
           strokeColor         : 'rgba(210, 214, 222, 1)',
           pointColor          : '#3b8bba',
           pointStrokeColor    : '#c1c7d1',
           pointHighlightFill  : '#fff',
           pointHighlightStroke: 'rgba(220,220,220,1)',
           data                : [65, 59, 80, 81, 56, 55, orderNumberTotal]
          }
        ]
      }

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //String - A legend template
      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }


    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas          = $('#lineChart').get(0).getContext('2d')
    var orderlineChartCanvas          = $('#orderlineChart').get(0).getContext('2d')
    var lineChart                = new Chart(lineChartCanvas)
    var orderlineChart                = new Chart(orderlineChartCanvas)
    var lineChartOptions         = areaChartOptions
    lineChartOptions.datasetFill = false
    lineChart.Line(areaChartData, lineChartOptions)
    orderlineChart.Line(areOrderNumberChartData, lineChartOptions)

  })
</script>