<section class="content-header">
		<span class=" btn-default">时间：</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当天</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
        </div>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
			
			<div class="alert alert-danger alert-dismissible">
                
                <h4><i class="icon fa fa-ban"></i> 共有</h4>
				<h4>4条异常记录，请及时查看！</h4>
               
            </div>
			<!--搜索框-->
			<div class="row">
				<div class="col-md-3" style="width:20%;">
					<span class="info-box-number" ><p align="RIGHT">用户</p></span>
				</div>
			
				<div class="col-md-3" style="width:30%;">
				  <!-- DIRECT CHAT PRIMARY -->				  
				  <div class="box box-primar direct-chat direct-chat-primary">
					<form action="#" method="post" id="searchbutton">
						<div class="input-group">
						  <input type="text" name="message" placeholder="Search ..." class="form-control" id="searchtext">
							  <span class="input-group-btn">
								<span type="text" class="btn btn-primary btn-flat" style="background-color:#c1c5c6;"><i class="fa fa-search"></i></span>
							  </span>
						</div>
					</form>
				  </div>
				</div>
								
			</div>
			<div class="table-responsive user_all" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
                    <th>用户</th>
                    <th>日期</th>
                    <th>异常原因</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
				  
                  <tr>
                  	<td class="user">用户A</td>
                    <td>2.11</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  <tr>
                  	<td class="user">用户A</td>
                    <td>2.1</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>

				  <tr>
                  	<td class="user">用户B</td>
                    <td>2.21</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  <tr>
                  	<td class="user">用户B</td>
                    <td>2.13</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  </tbody>
				  </table>
			</div>

			<div class="table-responsive user_a" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
                    <th>用户</th>
                    <th>日期</th>
                    <th>异常原因</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
				  
                  <tr>
                  	<td class="user">用户A</td>
                    <td>2.11</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  <tr>
                  	<td class="user">用户A</td>
                    <td>2.1</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  </tbody>
				  </table>
			</div>

			<div class="table-responsive user_b" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
                    <th>用户</th>
                    <th>日期</th>
                    <th>异常原因</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
				  
				  <tr>
                  	<td class="user">用户B</td>
                    <td>2.21</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  <tr>
                  	<td class="user">用户B</td>
                    <td>2.13</td>
                    <td>促销异常</td>
                    <td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>

				  </tbody>
				  </table>
			</div>
			
			<div class="sapce_div" style="height:30px">
			</div>
			
			<div class="table-responsive log_text_a1" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
					<th>用户</th>
                    <th>Cart ID</th>					
                    <th>日志信息</th>
                  </tr>
                  </thead>
                  <tbody>
				  
				  <tr>
					<td class="text-left">用户A</td>
                  	<td>100001</td>
                    <td>[2018-03-01T10:46:32,475][INFO ][o.e.c.m.MetaDataMappingService] [U00YHiH] [monitorpoc-2018.03.01/EdlebSlJTHqGsC3_IdxiEg] create_mapping [doc]<br>
						[error][status][plugin:elasticsearch@6.1.2] Status changed from green to red cart id : 100001 产品库存不足，请查看<br>
						ERROR [hybrisHTTP11] nested exception is java.lang.NullPointerException] with root cause...
					</td>
                  </tr>				  
				  </tbody>
				  </table>
			</div>			
			<div class="table-responsive log_text_a2" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
					<th>用户</th>
                    <th>Cart ID</th>					
                    <th>日志信息</th>
                  </tr>
                  </thead>
                  <tbody>
				  
				  <tr>
					<td class="text-left">用户A</td>
                  	<td>100012</td>
                    <td>[2018-03-01T10:46:32,475][INFO ][o.e.c.m.MetaDataMappingService] [U00YHiH] [monitorpoc-2018.03.01/EdlebSlJTHqGsC3_IdxiEg] create_mapping [doc]<br>
						[error][status][plugin:elasticsearch@6.1.2] Status changed from green to red cart id : 100012 产品促销异常，请查看
					</td>
                  </tr>				  
				  </tbody>
				  </table>
			</div>			

			<div class="table-responsive log_text_b1" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
					<th>用户</th>
                    <th>Cart ID</th>
                    <th>日志信息</th>
                  </tr>
                  </thead>
                  <tbody>
				  
				  <tr>
					<td class="text-left">用户B</td>
                  	<td>110055</td>
                    <td>[2018-03-01T10:46:32,475][INFO ][o.e.c.m.MetaDataMappingService] [U00YHiH] [monitorpoc-2018.03.01/EdlebSlJTHqGsC3_IdxiEg] create_mapping [doc]<br>
						[error][status][plugin:elasticsearch@6.1.2] Status changed from green to red cart id : 110055 产品促销异常，请查看<br>						
					</td>
                  </tr>				  
				  </tbody>
				  </table>
			</div>			
			<div class="table-responsive log_text_b2" style="display:none">
                <table class="table no-margin" >
                  <thead>
                  <tr>
					<th>用户</th>
                    <th>Cart ID</th>
                    <th>日志信息</th>
                  </tr>
                  </thead>
                  <tbody>
				  
				  <tr>
					<td class="text-left">用户B</td>
                  	<td>120052</td>
                    <td>[2018-03-01T10:46:32,475][INFO ][o.e.c.m.MetaDataMappingService] [U00YHiH] [monitorpoc-2018.03.01/EdlebSlJTHqGsC3_IdxiEg] create_mapping [doc]<br>
						[error][status][plugin:elasticsearch@6.1.2] Status changed from green to red cart id : 120052 产品库存不足，请查看<br>
						ERROR [hybrisHTTP11] nested exception is java.lang.NullPointerException] with root cause...
					</td>
                  </tr>				  
				  </tbody>
				  </table>
			</div>			


    </section>