 	  <!-- daterange picker -->
  <script src="${resourcePath}/adminlte/plugins/daterangepicker/moment.min.js"></script>
  <link rel="stylesheet" href="${resourcePath}/adminlte/plugins/daterangepicker/daterangepicker.css">
  <script src="${resourcePath}/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
  
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			查询 <small>日志</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a href="#">监控查询</a></li>
			<li class="active">日志查询</li>
		</ol>
	</section> 

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box"><br>
					<!-- /.box-header -->
		  			<div class="col-md-3" style="width:25%;">
						  <input type="text" name="message" id="message" placeholder="日志信息 " class="form-control" value="${message!}">
		  			</div>
		  			
					<div class="col-md-3" style="width:25%;">
						 <div class="input-group">
		                  <div class="input-group-addon">
		                    <i class="fa fa-clock-o"></i>
		                  </div>
		                  <input type="text" class="form-control pull-right" name="datefilter" id="reservationtime">
		                </div>
		  			</div>
		  			
		  			<div class="col-md-1" style="width:10%;">
						<div class="input-group">
							  <span class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-flat" style="background-color:#3c8dbc;" data-btn-type="search" ><i class="fa fa-search"></i></button>
							  	
							  </span>
							  
						</div>
		  			</div>
		  			
					
					<div class="box-body">
						<table id="user_table" class="table table-bordered table-striped table-hover">
						</table>
					</div>
					
					<div id="logtimeline"  class="box-body">	
						<ul class="timeline">
					
						    <!-- timeline time label -->
						    <li class="time-label">
						        
						            <#if loglist??>
						            <span class="bg-green">
						              ${message!}  log event 
						             </span>
						             <#else>
						            <#if init??> <span class="bg-red" style="display:none"> <#else>
						            <span class="bg-red" style="display:"> </#if>
						              
						             	
						             	  log event not exsit 
						             	
						             </span>
						             </#if>
						        
						    </li>
						    <!-- /.timeline-label -->
						
						    <!-- timeline item -->
						    <#if loglist??>
							    <#list loglist as tracknumEntity>
							    <li>
							        <!-- timeline icon -->
							        <i class="fa fa-clock-o bg-gray"></i>
							        <div class="timeline-item">
							            <span class="time"><i class="fa fa-clock-o"></i> 系统来源：${tracknumEntity.logsource}</span>
							
							            <h3 class="timeline-header"> 时间：${tracknumEntity.logtime} </h3>
							            <#if (tracknumEntity.listTracknumEntity)??>
								             <div class="box-body" > 
								            	<pre>${tracknumEntity.message}</pre>
								            </div>
										</#if>
							        </div>
							    </li>
							    </#list> 
						    </#if>
						    <!-- END timeline item -->
						
						</ul>
					
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		
		
					
	</section>

		<script>  
	
	var formatDateTime = function (date) {  
        var y = date.getFullYear();  
        var m = date.getMonth() + 1;  
        m = m < 10 ? ('0' + m) : m;  
        var d = date.getDate();  
        d = d < 10 ? ('0' + d) : d;  
        var h = date.getHours();  
        h=h < 10 ? ('0' + h) : h;  
        var minute = date.getMinutes();  
        minute = minute < 10 ? ('0' + minute) : minute;  
        var second=date.getSeconds();  
        second=second < 10 ? ('0' + second) : second;  
        return y + '-' + m + '-' + d+'T'+h+':'+minute+':'+second;  
    }; 
    
	$(function() { 
		 var starttime = "${starttime!}"; // 当天0点
		  var endtime =  "${endtime!}";
		$('#reservationtime').daterangepicker({ 
			timePicker: true, 
			timePickerIncrement: 1, 
			timePicker24Hour:true,
			timePickerSeconds:true,
		    startDate: starttime,
		    endDate: endtime,
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss',
				applyLabel: '确定',
		        cancelLabel: '清空',
		        fromLabel: '起始时间',
	           toLabel: '结束时间',
	           customRangeLabel: '自定义',
	           daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
	           monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
	               '七月', '八月', '九月', '十月', '十一月', '十二月'],
	           firstDay: 1
			} 
		},function(start, end, label) {
			starttime = start.format('YYYY-MM-DDTHH:mm:ss');
			endtime = end.format('YYYY-MM-DDTHH:mm:ss');
			console.log('New date range selected: ' + start.format('YYYY-MM-DDTHH:mm:ss') + ' to ' + end.format('YYYY-MM-DDTHH:mm:ss') + ' (predefined range: ' + label + ')');
		})
		$('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		      starttime = "";
		      endtime = "";
		  });
		if(starttime==""){
			$("#reservationtime").val('')
		}
		//button event
		$('button[data-btn-type]').click(function() {
			var action = $(this).attr('data-btn-type');
			switch (action) {
			case 'search':
				if($("#exception").val() ==''){
					alert("请输入异常信息");
				}else{
					console.log("GG" + $("#reservationtime").val());
					loadPage("/Monitor/poc/messageSearch?message="+$("#message").val()+"&starttime="+starttime+"&endtime="+endtime);     
				}
				break;
			}

		});
		//form_init();
	})
	
	</script>