 <section class="content-header">
		<span class=" btn-default">时间：</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当天</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
        </div>
    </section>


    
    <iframe src="http://localhost:9090/monitorWithoutMenu?status=JINGGAO" name="iframe_a" style="width: 1000px;height:2500px;border:0px"></iframe> 