<section class="content-header">
		<span class=" btn-default">时间：</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当天</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
        </div>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
			
			<div class="alert alert-danger alert-dismissible">
                
                <h4><i class="icon fa fa-ban"></i> 共有</h4>
				<h4>4条异常记录，请及时查看！</h4>
               
            </div>
			<!--搜索框-->
			<div class="row">
				<div class="col-md-3" style="width:20%;">
					<span class="info-box-number" ><p align="center">产品编号</p></span>
				</div>
			
				<div class="col-md-3" style="width:30%;">
				  <!-- DIRECT CHAT PRIMARY -->				  
				  <div class="box box-primar direct-chat direct-chat-primary">
					<form action="#" method="post">
						<div class="input-group">
						  <input type="text" name="message" placeholder="Search ..." class="form-control">
							  <span class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-flat" style="background-color:#c1c5c6;"><i class="fa fa-search"></i></button>
							  </span>
						</div>
					</form>
				  </div>
				</div>
								
			</div>
			
			<div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>产品编号</th>
                    <th>价格</th>
                    <th>异常</th>
                    <th>时间</th>
					<th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
					<td>000011</th>
                    <td>￥121</th>
                    <td>库存</th>
                    <td>2.21</th>
					<td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				 <tr>
					<td>000021</th>
                    <td>￥21</th>
                    <td>库存</th>
                    <td>2.21</th>
					<td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  <tr>
					<td>000031</th>
                    <td>￥321</th>
                    <td>库存</th>
                    <td>1.21</th>
					<td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  <tr>
					<td>000041</th>
                    <td>￥421</th>
                    <td>库存</th>
                    <td>2.1</th>
					<td><a href="javascript:void(0);">查看日志</a></td>
                  </tr>
				  
				  </tbody>
				  </table>
			<div>				
    </section>