<script type="text/javascript" src="${resourcePath}/adminlte/plugins/jvectormap/jquery.vector-map.js"></script>
<script type="text/javascript"  src="${resourcePath}/adminlte/plugins/jvectormap/china-zh.js"></script>
   
    
  <section class="content-header">
      <ol class="breadcrumb">
			<li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a href="#">监控总览</a></li>
			<li class="active">业务健康</li>
		</ol>
    </section>

       <!-- Main content -->
    <section class="content">
		
        <div class="row">
        	<section class="content-header">
		<span class=" btn-default">请选择:</span>
		<div class="btn-group">
                <button type="button" class="btn btn-default" style="background-color:#00c0ef">当日</button>
                <button type="button" class="btn btn-default">当月</button>
                <button type="button" class="btn btn-default">季度</button>
                <button type="button" class="btn btn-default">年</button>
        </div>
    </section>
    <section class="content">
    	<div class="row">
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${totalprice!}元</h3>
              <p>销售额</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${ordernum!}单</h3>
              <p>订单数量</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>${kedanjia!}元</h3>
              <p>客单价</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
      <div class="col-md-8">
      	<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">当前订单监控</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-10 col-sm-7">
                  <div class="pad">
                    <!-- Map will be created here -->
                    <div id="china-map-markers" style=" height: 650px;"></div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-2 col-sm-3">
                  <div class="pad box-pane-right bg-green" style="min-height: 123px">
                    <div class="description-block margin-bottom">
                      <h2 class="">${正常订单!}</h2>
                      <span class="description-text">正常订单</span>
                    </div>
                    </div>
                    
                    <!-- /.description-block -->
                    <div class="pad box-pane-right bg-yellow" style="min-height: 123px">
                    <div class="description-block margin-bottom">
                      <h2 class="">${预警订单!}</h2>
                      <span class="description-text">预警订单</span>
                    </div>
                    </div>
                    <!-- /.description-block -->
                    
                    <div class="pad box-pane-right bg-red" style="min-height: 123px">
                    <div class="description-block">
                      
                      <a href="javascript:void(0);" onclick="refleshChina()" style="color:black"><h2 class="">${警告订单!}</h2></a>
                      <span class="description-text">警告订单</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <div class="pad box-pane-right" style="background-color:#FFFFFF;min-height: 30px">
                  	
                  </div>
                  		警告颜色：
                  <div class="pad box-pane-right" style="background-color:#FFCFCA;min-height: 50px">
                  	<div class="description-block">
                      <span class="description-text">警告单数=1</span>
                    </div>
                  </div>
                  <div class="pad box-pane-right" style="background-color:#FDA4AA;min-height: 50px">
                  	<div class="description-block">
                      <span class="description-text">1&lt;警告单数&lt;=10</span>
                    </div>
                  </div>
                  <div class="pad box-pane-right" style="background-color:#FF6464;min-height: 50px">
                  	<div class="description-block">
                      <span class="description-text">10&lt;警告单数&lt;=100</span>
                    </div>
                  </div>
                  <div class="pad box-pane-right" style="background-color:#FD0C06;min-height: 50px">
                  	<div class="description-block">
                      <span class="description-text">100&lt;警告单数</span>
                    </div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
      </div>

		<div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-bullhorn"></i>

              <h3 class="box-title">当日购物车与产品监控</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="callout callout-danger">
                <h4>产品状态异常</h4>

                <p>当日存在9条产品异常记录</p>
                  <a href="#" onClick="goProductStatus()" class="small-box-footer">
                                                   查询产品状态监控 <i class="fa fa-arrow-circle-right"></i>
            </a>
              </div>
              <div class="callout callout-success">
                <h4>购物车状态正常</h4>

                <p> </p>
                <a href="#" onClick="goCartStatus()" class="small-box-footer">
              	查询购物车状态监控 <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>


      </div>
      
      
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">${province!}警告订单列表</h3>
			<!-- 
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
               -->
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
            
         <div class="ant-card ant-card-wider-padding ant-card-padding-transition" style="margin-bottom: 24px;">
           <div class="ant-card-body">
           
           <#list orderStatusList as orderStatusMonitorDTO>
            <div>
             
             <div class="ant-row">
				<div class="ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8 ant-col-xl-8" style="color:black;background:#F5F5F5;height:25px" align="center" >
	            	单号：<a href="javascript:void(0);" onclick="refleshOperate('${orderStatusMonitorDTO.orderCode}');" style="text-decoration:underline">${orderStatusMonitorDTO.orderCode}</a>
				</div>
				<div class="ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8 ant-col-xl-8" style="color:black;background:#F5F5F5;height:25px" align="center" >
					用户：${orderStatusMonitorDTO.user}
				</div>
				<div class="ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8 ant-col-xl-8" style="color:black;background:#F5F5F5;height:25px" align="center" >
					总价：${orderStatusMonitorDTO.totalPrice}
				</div>
			</div>
             
             
          <div  class="ant-steps ant-steps-horizontal ant-steps-label-vertical ant-steps-dot">
             
             <div style="display:none" class="ant-steps-item <#if orderStatusMonitorDTO.cancelFlag == 'true'> ant-steps-item-wait</#if><#if orderStatusMonitorDTO.payStatus == '' || orderStatusMonitorDTO.payStatus == 'NOMARL'> ant-steps-item-finish</#if><#if orderStatusMonitorDTO.payStatus == 'YUJING'> ant-steps-item-orderyujing</#if> ">
               <div class="ant-steps-item-tail"></div>
               <div class="ant-steps-item-icon">
                <span class="ant-steps-icon"><span class="ant-steps-icon-dot"></span></span>
               </div>
               <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
                 <a href="javascript:void(0);" onclick="refleshOperateByOrderStatus('${orderStatusMonitorDTO.orderCode}','Created');"
                 style="color:black"></a>
                </div>
               </div>
              </div>
            
              
              <div class="ant-steps-item <#if orderStatusMonitorDTO.cancelFlag == 'true'> ant-steps-item-wait</#if><#if orderStatusMonitorDTO.payStatus == '' || orderStatusMonitorDTO.payStatus == 'NOMARL'> ant-steps-item-finish</#if><#if orderStatusMonitorDTO.payStatus == 'YUJING'> ant-steps-item-orderyujing</#if> ">
               <div class="ant-steps-item-tail"></div>
               <div class="ant-steps-item-icon">
                <span class="ant-steps-icon"><span class="ant-steps-icon-dot"></span></span>
               </div>
               <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
                 <a href="javascript:void(0);" onclick="refleshOperateByOrderStatus('${orderStatusMonitorDTO.orderCode}','Created');" style="color:black">创建</a>
                 <#if orderStatusMonitorDTO.cancelFlag == 'true'>(已取消)</#if>
                </div>
                <div class="ant-steps-item-description">
                 <div class="textSecondary___3ifTy stepDescription___2JfeS">
                  <div>
                   ${(orderStatusMonitorDTO.createTime)!}
                  </div>
                 </div>
                </div>
               </div>
              </div>
              
              <div class="ant-steps-item  <#if orderStatusMonitorDTO.sendStatus == 'NOMARL' > ant-steps-item-finish</#if>
              <#if orderStatusMonitorDTO.payStatus == 'NOMARL' && orderStatusMonitorDTO.sendStatus == ''> ant-steps-item-finish</#if>
              <#if orderStatusMonitorDTO.payStatus == ''|| orderStatusMonitorDTO.payStatus == 'YUJING'> ant-steps-item-wait</#if><#if orderStatusMonitorDTO.sendStatus == 'YUJING' > ant-steps-item-orderyujing</#if><#if orderStatusMonitorDTO.sendStatus == 'JINGGAO' > ant-steps-item-orderjinggao</#if>">
               <div class="ant-steps-item-tail"></div>
               <div class="ant-steps-item-icon">
                <span class="ant-steps-icon"><span class="ant-steps-icon-dot"></span></span>
               </div>
               <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
               <#if orderStatusMonitorDTO.payStatus == 'NOMARL' >
              	<a href="javascript:void(0);" onclick="refleshOperateByOrderStatus('${orderStatusMonitorDTO.orderCode}','Payed');" style="color:black">已支付</a>
              	</#if>
               <#if orderStatusMonitorDTO.payStatus == 'YUJING' >
              	待支付
              	</#if>
                </div>
                <div class="ant-steps-item-description">
                 <div class="textSecondary___3ifTy stepDescription___2JfeS">
                  <div>
                   ${(orderStatusMonitorDTO.payTime)!}
                  </div>
                 </div>
                </div>
               </div>
              </div>
              
              <div class="ant-steps-item  <#if orderStatusMonitorDTO.receviedStatus == 'NOMARL' > ant-steps-item-finish</#if>
              <#if orderStatusMonitorDTO.sendStatus == 'NOMARL' && orderStatusMonitorDTO.receviedStatus == ''> ant-steps-item-finish</#if>
              <#if orderStatusMonitorDTO.sendStatus == ''|| orderStatusMonitorDTO.sendStatus == 'YUJING' || orderStatusMonitorDTO.sendStatus == 'JINGGAO'> ant-steps-item-wait</#if><#if orderStatusMonitorDTO.receviedStatus == 'YUJING' > ant-steps-item-orderyujing</#if><#if orderStatusMonitorDTO.receviedStatus == 'JINGGAO' > ant-steps-item-orderjinggao</#if>">
               <div class="ant-steps-item-tail"></div>
               <div class="ant-steps-item-icon">
                <span class="ant-steps-icon"><span class="ant-steps-icon-dot"></span></span>
               </div>
               <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
               <#if orderStatusMonitorDTO.payStatus == 'YUJING' >
              	
               </#if>
               <#if orderStatusMonitorDTO.sendStatus == 'NOMARL' >
              	<a href="javascript:void(0);" onclick="refleshOperateByOrderStatus('${orderStatusMonitorDTO.orderCode}','Sent');" style="color:black">已发货</a>
              </#if>
               <#if orderStatusMonitorDTO.sendStatus == 'YUJING' >
              	待发货
              </#if>
              <#if orderStatusMonitorDTO.sendStatus == 'JINGGAO' >
             	 待发货
              </#if>
                </div>
                <div class="ant-steps-item-description">
                 <div class="textSecondary___3ifTy stepDescription___2JfeS">
                  <div>
                   ${(orderStatusMonitorDTO.sendTime)!}
                  </div>
                 </div>
                </div>
               </div>
              </div>
              
              <div class="ant-steps-item <#if orderStatusMonitorDTO.receviedStatus == 'NOMARL' > ant-steps-item-process<#else> ant-steps-item-wait</#if>">
               <div class="ant-steps-item-tail"></div>
               <div class="ant-steps-item-icon">
                <span class="ant-steps-icon"><span class="ant-steps-icon-dot"></span></span>
               </div>
               <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
                 
               <#if orderStatusMonitorDTO.payStatus == 'YUJING' >
              	
               </#if>
               <#if orderStatusMonitorDTO.receviedStatus == 'YUJING' >
              	待签收
              </#if>
              <#if orderStatusMonitorDTO.receviedStatus == 'JINGGAO' >
              	待签收
              </#if>
              <#if orderStatusMonitorDTO.receviedStatus == 'NOMARL' >
             	 <a href="javascript:void(0);" onclick="refleshOperateByOrderStatus('${orderStatusMonitorDTO.orderCode}','Recevied');" style="color:black">已签收</a>
              </#if>
                </div>
                <div class="ant-steps-item-description">
                 <div class="textSecondary___3ifTy stepDescription___2JfeS">
                  <div>
                   ${(orderStatusMonitorDTO.receviedTime)!}
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
             
             
             </#list> 
             
             

            </div>
           </div>
          </div>
          
          
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
      </div>
    </section>
    <!-- /.content -->
    
    <script>
	   //map
	   
	   
	   //数据可以动态生成，格式自己定义，cha对应china-zh.js中省份的简称
       var dataStatus =  ${jinggaoData!};
		
       $('#china-map-markers').vectorMap({ map: 'china_zh',
           color: "#D2D6DE", //地图颜色
           onLabelShow: function (event, label, code) {//动态显示内容
               $.each(dataStatus, function (i, items) {
                   if (code == items.cha) {
                       label.html(items.name + "警告订单："+items.jinggao);
                   }
               });
           },
			onRegionClick: function(event, code){
			    $.each(dataStatus, function (i, items) {
		　　　　　　　　if ((code == items.cha) && (items.jinggao > 0)) {
					$("div.jvectormap-label").remove();
		　　　　　　　　　　loadPage("${basePath}/poc/statusoverview?province="+encodeURI(encodeURI(items.name)));
		　　　　　　　　}
		　　　　　　});
			}
       })

		
       $.each(dataStatus, function (i, items) {
			var color= "'#D2D6DE'";
           if (items.jinggao == 1) {
               color = "'#FFCFCA'";
           }
			else if (items.jinggao > 1 && items.jinggao <= 10) {
               color = "'#FDA4AA'";
           }
			else if (items.jinggao > 10 && items.jinggao <= 100) {
               color = "'#FF6464'";
           }else if(items.jinggao >100){
				color = "'#FD0C06'";
			}
			var josnStr = "{" + items.cha + ":"+color+"}";
           $('#china-map-markers').vectorMap('set', 'colors', eval('(' + josnStr + ')'));
       });
	   
	   
          function refleshChina(){
        	  loadPage("${basePath}/poc/statusoverview"); 
          }
          
          function refleshOperate(code){
        	  loadPage("${basePath}/poc/orderStatus/"+code); 
          }
          
          function goProductStatus(){
        	  loadPage('${basePath}/poc/productStatus');
          }
          
          function goCartStatus(){
        	  loadPage('${basePath}/poc/cartStatus');
          }
          
          //$("div.jvectormap-label").style.display="none";

</script>